<!-- .blog -->
<div id="blog" class="content_2">
<h1 class="h-bloc"><font color="#6BE1AF">Clases:Introducci&oacuten a la Ingenier&iacutea de Software</font></h1><br> 

<div class="col-md-12">
    <div class="row">

        <!-- Page Blog -->
        <div class="col-md-12" id="blog_page">
            <!-- start Page Blog -->
            <section id="blog-page">

                <!-- Post 1 -->	
                <article id="post-1" class="blog-article">                    

                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-12 post_media">
                                <div class="post-format-icon">
                                    <a href="#" class="item-date"><span class="fa fa-picture-o"></span></a>
                                </div>
                                <div class="media">
                                    <div class="he-wrap tpl2">
                                        <div id="carousel-1" class="carousel slide" data-ride="carousel">

                                            <ol class="carousel-indicators">
                                                <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                                                <li data-target="#carousel-1" data-slide-to="1"></li>
                                                <li data-target="#carousel-1" data-slide-to="2"></li>
                                            </ol>

                                            <div class="carousel-inner">

                                                <div class="item active">
                                                    <img src="images/blog/blog-1.jpg" alt="" />
                                                    <div class="carousel-caption">
                                                        
                                                    </div>
                                                </div>


                                                <div class="item">
                                                    <img src="images/blog/blog-2.jpg" alt="" />
                                                    <div class="carousel-caption">
                                                        
                                                    </div>
                                                </div>

                                                <div class="item">
                                                    <img src="images/blog/blog-3.jpg" alt="" />
                                                    <div class="carousel-caption">
                                                        
                                                    </div>
                                                </div>

                                            </div>

                                            <a class="left carousel-control" href="#carousel-1" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                            </a>

                                            <a class="right carousel-control" href="#carousel-1" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                            </a>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 post_content">
                                <div class="content post_format_standart">
                                    <div class="top_c ">

                                        <div class="title_content">
                                            <div class="text_content"><a href="#post-1" ><font color="#2AF75C">UNIDAD 1 - Introducci&oacuten de la IS</font></a></div>
                                            <div class="clear"></div>
                                        </div>



                                        <div class="blog-content">
                                            <p><i class="fa fa-quote-left"></i><h3><b> Definici&oacuten de IS</b></h3>
                                            <p>La IS es una aplicaci&oacuten pr&aacutectica del conocimiento cient&iacutefico para proveer metodolog&iacuteas y t&eacutecnicas que ayuden a desarrollar sistemas de software a tiempo, y a su vez que aseguren que el desarrollador cumpla con las expectativas de calidad y permanezca dentro del presupuesto.</p>
                                            <br>
                                        <h3><b>Objetivos de la IS</b></h3>
                                        <p> - Diseñar programas informáticos que se adecúen a las exigencias de la sociedad.</p>
                                        <p> - Liderar y acoplar el desarrollo de programaciones complicadas.</p>
                                        <p> - Actuar en todas las fases del ciclo de vida de un producto.</p>
                                        <p> - Computar los costos de un proyecto y evaluar los tiempos de desarrollo.</p>
                                        <p> - Realizar el seguimiento de costes y plazos.</p>
                                        <p> - Liderar equipos de trabajo de desarrollo software.</p>
                                        <p> - Estructurar la elaboración de evidencias que comprueben el perfecto funcionamiento de los programas y que se adaptan a los requerimientos de análisis y diseño.</p>
                                        <p> - Diseñar, construir y administrar bases de datos.</p>
                                        <p> - Liderar y orientar a los programadores durante el desarrollo de aplicaciones.</p></p></div>
                                    </div>
                                </div>	

                                <a href="#post-1" class="read_m pull-right">Read More <i class='glyphicon glyphicon-chevron-right'></i></a>

                            </div>
                        </div>

                    </div>
                </article>
                <!-- End Post 1 -->

                <div class="clear"></div>

                <!-- Post 2 -->
                
                <!-- End Post 2 -->

                <div class="clear"></div>

                <!-- Post 3 -->
                <article id="post-3" class="blog-article">                    

                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-12 post_media">

                                <div class="post-format-icon">
                                    <a href="#" class="item-date"><span class="fa fa-picture-o"></span></a>
                                </div>

                                <div class="media">
                                    <div class="he-wrap tpl2">
                                        <img src="images/blog/blog-4.jpg" class="img-hover" alt="" />
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 post_content">
                                <div class="content post_format_standart">
                                    <div class="top_c ">

                                        <div class="title_content">
                                            <div class="text_content"><a href="#post-3" class="read_more"><font color="#2AF75C">UNIDAD 2 - Proceso del Software</font></a></div>
                                            <div class="clear"></div>
                                        </div>

                                   

                                        <div class="blog-content">
                                            <p><i class="fa fa-quote-left"></i> <h3><b> Definici&oacuten del proceso del software</b></h3>
                                            <p>Conjunto de actividades necesarias para transformar las ideas iniciales del usuario, que desea automatizar un determinado trabajo,en software</p>
                                            <br>
                                            <h3><b> Est&aacutendares relacionados con el proceso software: IEEE/EIA (ISO/IEC) 12207 </b></h3>
                                            <p>El est&aacutendar ISO/IEC/IEEE12207:2017[ISO/IEC/IEEE,2017]relativo a los procesos del ciclo de vida del software</p>
                                            <p>Se aplica a la adquisici&oacuten de sistemas de software , productos y servicios, al suministro, desarrollo, operación, mantenimiento y eliminaci&oacuten de productos de software o componentes de software de cualquier sistema, ya sea que se realice interna o externamente a una organización.</p>
                                            <p>Se incluyen aquellos aspectos de la deﬁnici&oacuten del sistema necesarios para proporcionar el contexto de los productos y servicios de software.</p>
                                            <p>Tambi&eacuten proporciona procesos que pueden emplearse para deﬁnir, controlar y mejorar los procesos del ciclo de vida del software dentro de una organizaci&oacuten o de un proyecto</p></p></div>
                                    </div>
                                </div>	

                                <a href="#post-3" class="read_m pull-right">Read More <i class='glyphicon glyphicon-chevron-right'></i></a>

                            </div>
                        </div>

                    </div>
                </article>

                <!-- End Post 3 -->

            </section>

            <!-- End Page Blog -->



            <!-- Page Blog - Post 1 -->
            <section id="post-1-page" class="content-post" style="display: none">
                <div class="row inner">

                    <div class="col-md-12" style="width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;float: left;background: rgba(255, 255, 255, 0.8);padding-bottom: 15px;padding-top: 15px;">

                        <article class="postPage">

                            <div class="col-md-12 post_media">
                                <div class="post-format-icon">
                                    <a href="#" class="item-date"><span class="fa fa-picture-o"></span></a>
                                </div>
                                <div class="media">
                                    <div class="he-wrap tpl2">
                                        <div id="carousel-2" class="carousel slide" data-ride="carousel">

                                            <ol class="carousel-indicators">
                                                <li data-target="#carousel-2" data-slide-to="0" class="active"></li>
                                                <li data-target="#carousel-2" data-slide-to="1"></li>
                                                <li data-target="#carousel-2" data-slide-to="2"></li>
                                            </ol>

                                            <div class="carousel-inner">

                                                <div class="item active">
                                                    <img src="images/blog/blog-1.jpg" alt="">
                                                    <div class="carousel-caption">
                                                        
                                                    </div>
                                                </div>


                                                <div class="item">
                                                    <img src="images/blog/blog-2.jpg" alt="">
                                                    <div class="carousel-caption">
                                                        
                                                    </div>
                                                </div>

                                                <div class="item">
                                                    <img src="images/blog/blog-3.jpg" alt="">
                                                    <div class="carousel-caption">

                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class="title_content">
                                <div class="text_content"><font color="#2AF75C">UNIDAD 1 - Introducci&oacuten de la IS</font></div>
                                <div class="clear"></div>
                            </div>

                            <p class="caps"><h3><b>Definici&oacuten de IS</b></h3>
                             <p>La IS es una aplicaci&oacuten pr&aacutectica del conocimiento cient&iacutefico para proveer metodolog&iacuteas y t&eacutecnicas que ayuden a desarrollar sistemas de software a tiempo, y a su vez que aseguren que el desarrollador cumpla con las expectativas de calidad y permanezca dentro del presupuesto.</p></p>
                             <br>


                            <h3><b>Objetivos de la IS</b></h3>
                            <p> - Diseñar programas informáticos que se adecúen a las exigencias de la sociedad.</p>
                            <p> - Liderar y acoplar el desarrollo de programaciones complicadas.</p>
                            <p> - Actuar en todas las fases del ciclo de vida de un producto.</p>
                            <p> - Computar los costos de un proyecto y evaluar los tiempos de desarrollo.</p>
                            <p> - Realizar el seguimiento de costes y plazos.</p>
                            <p> - Liderar equipos de trabajo de desarrollo software.</p>
                            <p> - Estructurar la elaboración de evidencias que comprueben el perfecto funcionamiento de los programas y que se adaptan a los requerimientos de análisis y diseño.</p>
                            <p> - Diseñar, construir y administrar bases de datos.</p>
                            <p> - Liderar y orientar a los programadores durante el desarrollo de aplicaciones.</p>
                            <br>

                            <h3><b>Evoluci&oacuten del Software</b></h3>
                            <p> - El término “evolución” del software se utiliza desde los sesenta para denominar la dinámica de crecimiento del software.</p> 
                            <p> - Una definición atribuida a Lehman y Ramil dice que la evolución del software es “todas las actividades de programación que se orientan a generar una nueva versión de un software a partir de una versión anterior operativa.</p>
                            <br>

                            <h3><b>La Crisis del Software </b></h3>
                            <p>La palabra crisis se define en el diccionario como "un punto decisivo en el curso de algo; momento, etapa, o evento decisivo o crucial". Sin embargo para el software no ha habido ningún punto crucial, sólo una lenta evolución, históricamente se generó en los siguientes pasos:</p>
                            <p>Primera Fase. Los albores (1945-1955)</p>
                            <p>Segunda Fase. El florecimiento (1955-1965)</p>
                            <p>Tercera Fase. La crisis (1965-1970)</p>
                            <p>Cuarta Fase. Innovación conceptual (1970-1980)</p>
                            <p>Quinta Fase. El diseño es el problema (1980-?)</p>
                            <br>

                            <h3><b>El Software en la Actualidad</b></h3>
                            <p>Las direcciones en las que evoluciona la ingeniería del software hoy en día pueden agruparse de la siguiente manera:</p>
                            <p><b>Metodologías ágiles:</b> métodos de desarrollo de software basados en procesos iterativos e incrementales, donde los requisitos y soluciones evolucionan durante la colaboración.</p>
                            <p><b>Experimentación:</b> es una rama de la ingeniería del software interesada en realizar experimentos sobre software, recolectar datos y deducir leyes y teorías de los mismos.</p>
                            <p><b>Desarrollo dirigido por modelos:</b> primero se desarrollan modelos textuales  gráficos del software a construir, y posteriormente se construye el software.</p>
                            <p><b>Líneas de productos software</b>, en lugar de productos individuales.</p>
                            <br>

                            <h3><b> Factores de Calidad del Software</b></h3>
                            <p>Factores que determinan la calidad del software. Se puegrandes den clasificar en dos grupos (Pressman):</p>
                            <p><b>Medidas Directas:</b> La medida o medición decimos que es directa, cuando disponemos de un instrumento de medida que nos muestra un resultado (generalmente numérico).</p>
                            <p><b>Medidas Indirectas:</b> Cuando hablamos de sistemas informáticos no siempre es posible realizar una medida directa, porque no disponemos del instrumento adecuado que nos permita realizar esa medición</p>
                            <br>

                            <h3><b>Problemas en el Desarrollo de Software</b></h3>
                            <p><b>¿Qué es un proyecto software?</b></p>
                            <p>Haciendo uso de la definición de proyecto de la guía del PMBOK, y adaptándola a un proyecto software, podríamos definirlo como: 
                            “Un proyecto software es un esfuerzo temporal que se lleva a cabo para crear un producto software, servicio TI o resultado único.” </p>
                            <p><b>¿Pero que es el software?</b></p>
                            <p> Según la definición del IEEE, "software es la suma total de los programas de ordenador, procedimientos, reglas, la documentación asociada y los datos que pertenecen a un sistema de cómputo", y "un producto de software es un producto diseñado para un usuario".</p>
                            <p>El software puede dividirse en dos grandes categorías:</p>
                            <p><b>Software de aplicaciones:</b> se usan para proveer servicios a clientes y ejecutar negocios de forma más eficiente. El software de aplicaciones puede ser un sistema pequeño o uno grande integrado. Como ejemplos de este tipo de software estarían un sistema de cuentas, un sistema de planificación de recursos...</p>
                            <p><b>Software de sistemas:</b> El software de sistemas se usa para operar y mantener un sistema informático. Permite a los usuarios usar los recursos del ordenador directamente y a través de otro software. Algunos ejemplos de este tipo de software son los sistemas operativos, compiladores y otras utilidades del sistema.</p>
                            <br>

                            <h3><b>La Ingenier&iacutea del Software </b></h3>
                            <p>La Ingeniería del Software es la rama de la ingeniería que crea y mantiene las aplicaciones de software usando tecnologías y prácticas de las ciencias de la computación, manejo de proyectos, ingeniería, el ámbito de la aplicación, y otros campos.</p>
                            <br>

                            <h3><b>Visi&oacuten General del proceso de la IS</b></h3>
                            <p>Con independencia del área, tamaño o complejidad del proyecto, cualquier proyecto se encontrará al menos en una de las siguientes fases:</p>
                            <p>Deﬁnición - Análisis(del sistema,delsw).</p>
                            <p>Desarrollo~Diseño,codiﬁcación,prueba.</p>
                            <p>Mantenimiento.</p>
                            <br>

                            <h3><b>Responsabilidad Etica y Profesional en IS</b></h3>
                            <p> La IS se realiza dentro de un marco social y legal que limita la libertad de la gente que trabaja en dicha &aacuterea.</p> 
                            <p>Los ingenieros de software:</p>
                            <p>Deben aceptar que su labor implica responsabilidades mayores que la simple aplicaci&oacuten de habilidades t&eacutecnicas.</p>
                            <p>Deben comportarse de forma &eacutetica y moralmente responsable para ser respetado como un ingeniero profesional.</p>
                            <br>

                            <h3><b>Sistemas de Informaci&oacuten</b></h3>
                            <p>Conjunto de elementos que interact&uacutean entre s&iacute con el ﬁn de apoyar las actividades de una empresa o negocio.Teniendo muy en cuenta el equipo computacional necesario para que el sistema de informaci&oacuten pueda operar y el recurso humano que interact&uacutea con el Sistema de Informaci&oacuten, el cual est&aacute formado por las personas que utilizan el sistema.</p>
                            <br>

                            <h3><b>Informaci&oacuten y Datos </b></h3>
                            <p> Un sistema de informaci&oacuten realiza cuatro actividades b&aacutesicas: entrada, almacenamiento, procesamiento y salida de informaci&oacuten(Peralta,2008).</p>
                            <p><b>Entrada de Informaci&oacuten:</b> Es el proceso mediante el cual el Sistema de Informaci&oacuten toma los datos que requiere para procesarlainformaci&oacuten.</p>
                            <p><b>Almacenamiento de información:</b>El almacenamiento esuna de las actividades o capacidades m&aacutes importantes que tiene una computadora, ya que a trav&eacutes de esta propiedad el sistema puede recordar la informaci&oacuten guardada en la secci&oacuten o proceso anterior.</p>
                            <p><b>Procesamiento de Informaci&oacuten:</b> Es la capacidad del Sistema de Informaci&oacuten para efectuar c&aacutelculos de acuerdo con una secuencia de operaciones preestablecida.</p>
                            <p><b>Salida de Informaci&oacuten:</b> La salida es la capacidad de un Sistema de Informaci&oacuten para sacar la informaci&oacuten procesada o bien datos de entrada al exterior.</p>
                            <br>

                            <h3><b> Tipos de Sistemas de Informaci&oacuten</b></h3>
                            <p><b>Sistemas transaccionales:</b> Son Sistemas de Informaci&oacuten que logran la automatizaci&oacuten de procesos operativos dentro de una organizaci&oacuten ya que su funci&oacuten primordial consiste en procesar transacciones tales como pagos,cobros,entradas,salidas,etc.</p>
                            <p><b>Sistemas de Soporte a la Toma deDecisiones, Sistemas para la Toma de Decisión de Grupo, Sistemas Expertos de Soporte a la Toma de Decisiones y Sistema de Informaci&oacuten para Ejecutivos:</b> Son Sistemas de Informaci&oacuten que apoyan el proceso de toma de decisiones.</p>
                            <p><b>Sistemas Estratégicos:</b> Son sistemas de informaci&oacuten desarrollado en las organizaciones con el ﬁn de lograr ventajas competitivas, atrav&eacutes del uso de la tecnolog&iacutea de informaci&oacuten.</p>

                                <div class="col-md-12" style="margin-top: 20px;">
                                    <a href="#post-3" class="readmore disabled" id="pagination"><i class="glyphicon glyphicon-chevron-right"></i></a>
                                    <a href="#" class="readmore" id="pagination"><i class="glyphicon glyphicon-chevron-left"></i></a>
                                    <a href="#blog" id="blog" class="readmore"><i class="glyphicon glyphicon-chevron-left"></i> All Posts</a>
                                </div>

                                <div class="clear"></div>

                        </article>
                    </div>
                    <div class="clear"></div>
                </div>
            </section>


                                    

                                    

            <!-- Page Blog - Post 3 -->
            <section id="post-3-page" class="content-post" style="display: none">
                <div class="row inner">

                    <div class="col-md-12" style="width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;float: left;background: rgba(255, 255, 255, 0.8);padding-bottom: 15px;padding-top: 15px;">

                        <article class="postPage">


                            <div class="col-md-12 post_media">

                                <div class="post-format-icon">
                                    <a href="#" class="item-date"><span class="fa fa-picture-o"></span></a>
                                </div>

                                <div class="media">
                                    <div class="he-wrap tpl2">
                                        <img src="images/blog/blog-2.jpg" class="img-hover" alt="">
                                    </div>

                                </div>
                            </div>

                            <div class="title_content">
                                <div class="text_content"><font color="#2AF75C">UNIDAD 2 - Proceso del Software</font></div>
                                <div class="clear"></div>
                            </div>


                            <p class="caps"><h3><b> Definici&oacuten del proceso del software</b></h3>
                            <p>Conjunto de actividades necesarias para transformar las ideas iniciales del usuario, que desea automatizar un determinado trabajo,en software</p>
                            <br>

                            <h3><b> Est&aacutendares relacionados con el proceso software: IEEE/EIA (ISO/IEC) 12207 </b></h3>
                            <p>El est&aacutendar ISO/IEC/IEEE12207:2017[ISO/IEC/IEEE,2017]relativo a los procesos del ciclo de vida del software</p>
                            <p>Se aplica a la adquisici&oacuten de sistemas de software , productos y servicios, al suministro, desarrollo, operación, mantenimiento y eliminaci&oacuten de productos de software o componentes de software de cualquier sistema, ya sea que se realice interna o externamente a una organización.</p>
                            <p>Se incluyen aquellos aspectos de la deﬁnici&oacuten del sistema necesarios para proporcionar el contexto de los productos y servicios de software.</p>
                            <p>Tambi&eacuten proporciona procesos que pueden emplearse para deﬁnir, controlar y mejorar los procesos del ciclo de vida del software dentro de una organizaci&oacuten o de un proyecto</p>
                            <br>

                            <h3><b> El ciclo de vida del Software - Definición y etapas </b></h3>
                            <p>Cuando un proceso implica la construcción de algún producto, suele referirse al proceso como un ciclo de vida</p>
                            <p> Los proyectos software se desarrollan en una serie de fases </p>
                            <p> Estas fases pueden ser: </p>
                            <p><b>Temporales:</b>Forman una secuencia en el tiempo.</p>
                            <p><b>Lógicas:</b>Cuando representan pasos o etapas que no constituyen una secuencia temporal</p>
                            <br>

                            <h3><b> &Aacutembito general de: Requerimientos, an&aacutelisis, diseño y pruebas de software </b></h3>
                            <p><b>Expresi&oacuten de necesidades:</b> esta etapa tiene como objetivo el armado de un documento en el cual se reﬂejan los requerimientos y funcionalidades que ofrecer&aacute al usuario el sistema a implementar(qu&eacute,y no c&oacutemo,se va a implementar).</p>
                            <p><b> Especiﬁcaciones:</b> formalizamos los requerimientos; el documento obtenido en la etapa anterior se tomar&aacute como punto de partida para esta etapa.</p>
                            <p><b>An&aacutelisis:</b> determinamos los elementos que intervienen en el sistema a desarrollar, su estructura, relaciones, evoluci&oacuten temporal, funcionalidades, tendremos una descripci&oacuten clara de qu&eacute producto vamos a construir, qu&eacute funcionalidades aportar&aacute y qu&eacute comportamiento tendr&aacute.</p>
                            <p><b>Diseño:</b> ya sabemos qu&eacute hacer, ahora tenemos que determinar c&oacutemo debemos hacerlo (¿c&oacutemo debe ser construido el sistema en cuestion?; deﬁnimos en detalle entidades y relaciones de las bases de datos, seleccionamos el lenguaje que vamos a utilizar, el Sistema Gestor de Bases de Datos,etc.).</p>
                            <p><b>Implementación:</b> empezamos a codiﬁcar algoritmos y estructuras de datos, deﬁnidos en las etapas anteriores, en el correspondiente lenguaje de programaci&oacuten o para un determinado sistema gestor de bases de datos. En muchos proyectos se pasa directamente a esta etapa; son proyectos muy arriesgados que adoptan un modelo de ciclo de vida de code &ﬁx(codiﬁcar y corregir) donde se eliminan las etapas de especiﬁcaciones, an&aacutelisis y diseño con la consiguiente p&eacuterdida de control sobre la gesti&oacuten del proyecto.</p>
                           <p><b>Debugging:</b> el objetivo de esta etapa es garantizar que nuestro programa no contiene errores de diseño o codiﬁcaci&oacuten.</p>
                           <p><b>Validaci&oacuten:</b> esta etapa tiene como objetivo la veriﬁcaci&oacuten de que el sistema desarrollado cumple con los requerimientos expresados inicialmente por el cliente y que han dado lugar al presente proyecto.</p>
                           <p><b>Evoluci&oacuten:</b> en la mayor&iacutea de los proyectos se considera esta etapa como Mantenimiento y evoluci&oacuten,y se le asigna,no s&oacutelo el agregado de nuevas funcionalidades (evoluci&oacuten); sino la correcci&oacuten de errores que surgen (mantenimiento).</p> 
                           <br>

                           <h3><b> Concepto de modelo de Desarrollo de Software </b></h3>
                           <p>Cada modelo de proceso representa un proceso desde una perspectiva particular, por lo que s&oacutelo ofrece una informaci&oacuten parcial sobre dicho proceso.​</p>
                           <p>Cuando se pone por escrito una descripci&oacuten de un proceso, se da forma a una comprensi&oacuten com&uacuten de las actividades, recursos y restricciones relacionados con el desarrollo del software.​</p>

                           <p>Ayuda al equipo de desarrollo a encontrar las inconsistencias, las redundancias y las omisiones en el proceso y en las partes que lo constituyen.​</p>

                          <p>El modelo debe reflejar las metas del desarrollo. A medida que se construye el modelo el equipo de desarrollo eval&uacutea las actividades candidatas por su adecuaci&oacuten para alcanzar dichas metas.​</p>
                          <br>

                          <h3><b> Modelos Tradicionales </b></h3>
                          <p><b>El modelo de cascada ​Modelo de Plan-impulsado.</b> Fases separadas y distintas de especificaci&oacuten y desarrollo.</p> ​

                          <p><b>El desarrollo incremental</b> ​Especificaci&oacuten, desarrollo y validaci&oacuten se intercalan. Puede ser el plan impulsado o &aacutegil. ​</p>
                          <p><b>Espiral​</b>Las actividades no est&aacuten fijadas a prioridad, sino que las siguientes se eligen en funci&oacuten del an&aacutelisis de riesgo, comenzando por el bucle interior.</p>

                          <p><b>Desarrollo R&aacutepido de Aplicaciones (DRA)</b>El modelo DRA es una adaptaci&oacuten a alta velocidad del ciclo de vida cl&aacutesico en el que se logra el desarrollo r&aacutepido utilizando un enfoque de construcci&oacuten basado en componentes. Si se comprenden bien los requisitos y se limita el &aacutembito del proyecto, el proceso DRA permite al equipo de desarrollo crear un sistema completamente funcional dentro de per&iacuteodos cortos de tiempo.</p>

                          <p><b>Orientados a la reutilizaci&oacuten</b>Esta aproximaci&oacuten se basa en la existencia de un n&uacutemero significativo de elementos reutilizables. El proceso de desarrollo, se centra en la integraci&oacuten de estos elementos en un sistema, en lugar de desarrollarlo desde cero.</p>

                         <p><b>Orientado a Objetos (OO)</b>Este enfoque realiza la construcci&oacuten de modelos de un sistema por medio de la identificaci&oacuten y la especificaci&oacuten de un conjunto de objetos relacionados, que colaboran entre si de acuerdo a los requerimientos establecidos para el sistema de objetos.</p>
                         <br>

                         <h3><b> Modelos &Aacutegiles</b></h3>
                         <p>Cualquier proceso del software ágil se caracteriza por la forma en la que aborda cierto n&uacutemero de suposiciones clave acerca de la mayor&iacutea de proyectos de software:​</p>

                         <p>Es dif&iacutecil predecir qu&eacute requerimientos de software persistir&aacuten y cuáles cambiar&aacuten. Tambi&eacuten es dif&iacutecil pronosticar c&oacutemo cambiar&aacuten las prioridades del cliente a medida que avanza el proyecto.​</p>

                         <p>Para muchos tipos de software, el diseño y la construcci&oacuten est&aacuten imbricados.</p>

                            </p>

                            

                            


                                <div class="col-md-12" style="margin-top: 20px;">
                                   <a href="#" class="readmore disabled" id="pagination"><i class="glyphicon glyphicon-chevron-right"></i></a>
                                    <a href="#post-1" class="readmore" id="pagination"><i class="glyphicon glyphicon-chevron-left"></i></a>
                                    <a href="#blog" id="blog" class="readmore"><i class="glyphicon glyphicon-chevron-left"></i> Todos</a>
                                </div>

                                <div class="clear"></div>

                        </article>
                    </div>
                    <div class="clear"></div>
                </div>
            </section>
            <!-- End Page Blog - Post 3 -->


        </div>


        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title h3_modal" style="color: #fff !important;"></h3>
                    </div>
                    <div class="modal-body">
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
                                            </div>
                                            <!-- End .blog -->