<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Perfil</h1>

<div class="row top-p">
    <div class="col-md-6 profile-l">
 		
        <!--About me-->
        <div class="title_content">
            <div class="text_content">Luis Huayamave</div>
            <div class="clear"></div>
        </div>

		   <ul class="about">

            <li>
                <i class="glyphicon glyphicon-user"></i>
                <label>Nombre</label>
                <span class="value">Luis Huayamave Cedeño</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-calendar"></i>
                <label>Fecha de Nacimiento</label>
                <span class="value">8 de Marzo del 2001</span>
                <div class="clear"></div>
            </li>

            <li> 
                <i class="glyphicon glyphicon-map-marker"></i>
                <label>Direcci&oacuten</label>
                <span class="value">Guayaquil - Ecuador</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-envelope"></i>
                <label>Correo</label>
                <span class="value">l.alejandro08@hotmail.com</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-phone"></i>
                <label>Tel&eacutefono</label>
                <span class="value">0991567069</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-globe"></i>
                <label>Stackoverflow</label>
                <span class="value"><a href="https://es.stackoverflow.com/users/148998/luis-huayamave" target="_blank">https://es.stackoverflow.com/users/148998/luis-huayamave</a></span>
                <div class="clear"></div>
            </li>
            <li>
                <i class="glyphicon glyphicon-globe"></i>
                <label>Github</label>
                <span class="value"><a href="https://github.com/Lhuayamave01" target="_blank">https://github.com/Lhuayamave01</a></span>
                <div class="clear"></div>
            </li>

        </ul>


        <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>       
            "Si algo no te gusta, c&aacutembialo. Si no lo logras, cambia tu actitud" -Maya Angelou
        </p>
        

    </div>
    <!-- End left-wrap -->

    <div class="col-md-6 profile-r">

        <div class="cycle-slideshow">
            <img src="images/img-profile/about_1.jpg" alt="" />
            <img src="images/img-profile/about_2.jpg" alt="" />
            <img src="images/img-profile/about_3.jpg" alt="" />
        </div>

    </div>

</div>


<!-- begin service -->
<div class="clear"></div>
<div class="row" id="services">
	<div class="col-md-12">
      
     </div> 
</div><!-- End Services -->



<!-- service 2 -->
<div class="clear"></div>
<div class="border-list"></div>

<div class="row">
<div class="col-md-12">
    <div class="bottom-p">
        <div class="title_content">
            <div class="text_content"><font color="#2A94F7">Mi experiencia acad&eacutemica</font></div>
            <div class="clear"></div>
        </div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapse_tabs">
                            <font color="#2AF7CC">Estudios Primarios y Secundarios</font>
                            <i class="glyphicon glyphicon-chevron-up" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i>  Mi etapa escolar fue la mejor, aprendí de todo, y gracias a la ayuda de mi madre pude alcanzar los logros más importantes de mi vida, cada año recibía un diploma al mejor estudiante y ciertos reconocimientos gracias a todo el esfuerzo que ponía de mi parte. La etapa colegial no fue la mejor de todas (en lo personal y academicamente hablando), pero adquirí todos los conocimientos necesarios para poder rendir el exámen "Ser Bachiller" y así obtener un cupo en la Universidad de Guayaquil. Como tal el colegio no tuvo ni logros y ni fracaso, me sirvieron para ser la persona que soy actualmente.
                    </div>
                </div>
            </div>
            
        </div>

    </div>
</div>
</div>
<!-- end service 2 -->

<div class="clear"></div>
</div>
<!-- End .profile -->